Content/data/niveau.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.l3miage.fr/niveau"
        xmlns:ni="http://www.l3miage.fr/niveau"
        elementFormDefault="qualified">

<include schemaLocation="labyrinthe.xsd"/>
<include schemaLocation="joueur.xsd"/>
<include schemaLocation="objectif.xsd"/>

<element name="niveau" type="ni:Niveau"/>
    
<complexType name="Niveau">
<sequence>
    <element name="labyrinthe" type="ni:Labyrinthe"/>
    <element name="objectif" type="ni:Objectif"/>
    <element name="joueur" type="ni:Joueur"/>
    
    <!--<element name="obstacle" type="je:Obstacle"/> je lenleve pour le moment-->
    <!--<element name="recompense" type="je:Recompense" minOccurs="0"/> je lenleve aussi pour le moment-->
    <!--<element name="tempsRestant" type="time"/>lui aussi-->
</sequence>
</complexType>
    
</schema>